body {
    background-image: url('images/19742.jpg');
    background-size: cover;
}

hr {
    height: 10px;
    border-color: green;
}

.about-box {
    margin-left: 50px;
    margin-top: 50px;
    height: 400px;
    width: 400px;
    color: black;
    background-color: white;
    
}

.about-margin {
    padding: 25px;
}

h1 {
    color: rgb(17, 160, 112);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.line {
    background-color: darkgray;
    height: 2px;
    width: 90%;

}

p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(17, 160, 112);
}

.about-image {
    height: 200px;
    width: 200px;
    background-image: url('images/van.jpg');
    margin: 25px;
    padding: 25px;
}