body {
    background-image: url('images/19742.jpg');
    background-size: cover;
}

hr {
    height: 10px;
    border-color: green;
}

.about-box {
    margin-left: 50px;
    margin-top: 50px;
    /* How can I get the width to match what the assignment is requesting? */
    width: 60vw;
    color: black;
    background-color: white;
    
}

.about-margin {
    padding: 25px;
}

h1 {
    color: rgb(17, 160, 112);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 10px;
}

.line {
    background-color: darkgray;
    height: 2px;
    width: 95%;
    padding: 2px;
    margin: auto;

}

p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(17, 160, 112);
    margin: 2vw;

}

.about-image {
    height: 200px;
    width: 200px;
    /* background-image: url('images/van.jpg'); */
    margin: 25px;
    padding: 25px;
    float: left;
}

.footer {
    background-color: rgb(65, 65, 65);
    height: 25%;
    border-top: color, green height 10px;
}

#sticky-footer {
    flex-shrink: none;
    background-color: rgb(65, 65, 65);
    bottom: 0;
    margin: auto;
    position: fixed;
    width: 100%;
    /* How do I get a green border on top of my footer here? */
    border-top-color: green;
    border-top-width: 10px;
  }