body {
    background-image: url('images/19742.jpg');
    /* background-color: salmon; */
    background-size: cover;
}

h1 {
    color: rgb(17, 160, 112);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 2vw;
}

p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(17, 160, 112);
    margin-left: 1vw;
    margin-right: 1vw;
    margin-top: 1vw;
}

#sticky-footer {
    flex-shrink: none;
    background-color: rgb(65, 65, 65);
    bottom: 0;
    margin: auto;
    position: fixed;
    width: 100%;
    /* How do I get a green border on top of my footer here? */
    border-top-color: green;
    border-top-width: 10px;
  }

.about-box {
    margin-left: 5vw;
    margin-top: 5vw;
    width: 60vw;
    color: black;
    background-color: white;
    
}

.about-image {
    margin: 2vw;
    float: left;
}

.line {
    border-bottom: 2px solid darkgrey;
    margin-left: 2vw;
    margin-right: 2vw;
}

.portfolio-box {
    margin-left: 2vw;
    margin-top: 2vw;
    width: 60vw;
    color: black;
    background-color: white;
}

.portfolio-image {
    margin: 2vw;
}

  .contact-box {
    margin-left: 50px;
    margin-top: 50px;
    /* How can I get the width to match what the assignment is requesting? */
    width: 40vw;
    color: black;
    background-color: white;
    
}

.contact {
    margin: 2vw;
}

.btn-info {
    background-color: rgb(17, 160, 112);
}